* {
  margin: 0;
  padding: 0;
}
/* width and height */
.bg-color {
  width: 300px;
  height: 200px;
}

/* background images */
.bg-image {
  width: 300px;
  height: 200px;
  background-image: url(/Level-2/assets/myntra-img.png);
  background-size: contain;
  /* making here that we need to display in container  but  it is repeating as well */
  background-repeat: no-repeat;
  /*  to make no repeat the image  */
}
