/* * {
  color: red;
} */

/* h1 {
  color: red;
}
p {
  color: green;
} */
/* 
#first_h1 {
  color: yellow;
}

.firstPara {
  color: blue;
} */

div p {
  color: olivedrab;
}
p {
  color: lightcoral;
}
